.main-navbar{
	transition: background-color 0.3s linear;
	min-height: 3.5rem;
    background-color: #000c20;

    .navbar-brand{
    	margin-#{$end-direction}: 1rem;
    	margin-#{$start-direction}: 0rem;
    }

    .navbar-nav{
    	text-align: $start-direction;
    	@media(min-width: $lg-breakpoint){
    		margin-#{$start-direction}: auto;
    	}
    }

	.nav-link{
		color: #fff;
		&:hover,
		&.active{
			color: $accent-color;
		}
		@include transition(color 0.4s ease-in-out);
		@media (min-width: $lg-breakpoint) {
			padding: 2rem 1rem !important;
		}
	}

	.navbar-toggler{
		color: $accent-color;
    	border: 0;
	}

	.navbar-btn{
		margin-#{$start-direction}: 1rem;
    	padding: 1rem 2.2rem;
    	font-size: 0.9rem;
    	line-height: 1rem;
    	letter-spacing: 1px;
    	@include rtl-styles{
    		letter-spacing: 0;
    	}
	}

}

