// breakpoints
$sm-breakpoint:"576px";
$md-breakpoint:"768px";
$lg-breakpoint:"992px";
$xl-breakpoint:"1200px";

//fonts 
$main-font: 'Barlow', 'Cairo', sans-serif;

$second-font: 'Teko', 'Cairo', sans-serif;

// colors
$primary-color:#2c234d;
$accent-color:#f15f22;
$accent-color-dark:#e0581e;